<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }


   
  #draggable { width: 150px; padding: 0.5em; cursor: move; background: grey; margin: 5px;}
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(0,0,0,0.25);
    font-size: 20px;
    line-height: 40px;
    margin-top: -10px;
    transition: all .2s;
}
  </style>
</style>
