<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    
    html,body {
    height:100%;
    margin: 0;
}

    body    { padding-top:50px; 
    
    background-image: url("img/blurred-bg-2.jpg");
    }
.container {
    
    height: 100%;
}

.container1 {
    float:left;
    width:100%;
    display: table;
}
#devices {
    width: 20%;
}


.footer {
  position: relative;
  margin-top: -100px; 
  
  clear:both;
  bottom:0;
 
}

.draggable { width: 200px; border: 1px solid rgba(0,0,0,0.1); text-align: left; padding: 0.3em; cursor: move; margin: 5px;}
.sortable { width: 250px; border: 1px solid rgba(0,0,0,0.1); text-align: left; padding: 0.3em; margin: 5px;}
  #draggable { width: 200px; border: 1px solid rgba(0,0,0,0.1); text-align: left; padding: 0.3em; cursor: move; margin: 5px;}
  .droppable { width: 150px; padding: 0.3em; float: left; margin: 5px; }
  .title {
    position: absolute;

    text-align: left;
    color: rgba(0,0,0,0.25);
    font-size: 20px;
    line-height: 40px;
    margin-top: -10px;
    margin: 5px;
    transition: all .2s;
   
}

.draggable:hover {color: rgba(0,0,0,0.25); font-size: 15px;}


@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('/fonts/ShorelinesScriptBold.otf') format('truetype');
}
.htitle {
  font-family: 'Tangerine', serif;
  }


.devices .if .and .then {
  float: none;
  padding: 20px;
  vertical-align: top;
}


.devices .if .and .then {
  float: left;
  padding: 20px;
  vertical-align: top;
}
.devices {
  width: 25%;

  display: table-cell;
}

.when {
  width: 25%;

  display: table-cell;
}

.and {
  width: 25%;
 
  display: table-cell;
}

.then {
  width: 25%;
  
  display: table-cell;
}
#rulediv{
padding: 0.3em;  margin: 15px;
}

#btn1{
    background-color: transparent;
    background-repeat:no-repeat;
    border: 1px solid rgba(0,0,0,0.2);
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black;
}

#rulelist{
    background-color: transparent;
    background-repeat:no-repeat;
    border: 1px solid rgba(0,0,0,0.2);
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black;
}
  </style>
</style>
