<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <h1>GoFlow</h1>

   


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('message', function (message) {
            console.log(data);
            alert('The server has a message for you: ' + devices);
             socket.emit('my other event', { my: 'data' });       
        })

        $('#poke').click(function () {
            socket.emit('message', 'Hi server, how are you?');
        })

    </script>
    <script>
  $( function() {
    $( ".drag" ).draggable({ revert: 'invalid' });

    $("#droppable").droppable({
    accept: '#draggable',
    activeClass: 'ui-state-hover',
    hoverClass: 'ui-state-active',
    drop: function(event, ui) {
        $(this).addClass('ui-state-highlight').find('p').html('Dropped!');
    }
});
  } );
  </script>
    <script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>





<div class="row">
  <div class="col-xs-6 col-sm-3" STYLE="background-color: #c9c9c9;">
  <span class="title">Devices</span>
  <div id="draggable" class='drag' name="sunrise">
  <p>sunrise</p>
  </div>
  <% for(var i=0; i < dev.length; i++) { %>
  
   <div id="draggable" class='drag' name="<%= dev[i].id %>">
   <p><%= dev[i].name %></p>
   </div>
<% } %>
</div>

  <div class="col-xs-6 col-sm-3" STYLE="background-color: pink;">
  <span class="title">If....</span><br>
    <div id="draggable" class='drag' name="sunrise">
  <p>sunrise</p>
  </div>
  <div id="droppable" > drop me here </div>
  </div>
  
  <div class="col-xs-6 col-sm-3">
  <span class="title">And....</span><br>
  </div>
  
  <div class="col-xs-6 col-sm-3"> 
  <span class="title">Then....</span><br>
  <div STYLE="background-color: red;">turn TuinWandLamp off</div>
  <br>
  <button id="button">Send</button>
  </div>
</div>



 <footer>
        <% include ../partials/footer %>
    </footer>
        
            </body>

            </html>