<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Communicating with socket .io!</h1>

    <p><input type="button" value="Poke the server" id="poke" /></p>


    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('message', function (message) {
            console.log(data);
            alert('The server has a message for you: ' + devices);
             socket.emit('my other event', { my: 'data' });       
        })

        $('#poke').click(function () {
            socket.emit('message', 'Hi server, how are you?');
        })

    </script>
    <script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>

<% for (var i=0; i < dev.lenght; i++){ %>
<li><%= dev[i].id %></li>
<% } %>
<!--     <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>-->

 <footer>
        <% include ../partials/footer %>
    </footer>
        
            </body>

            </html>